name: xscen-dev
channels:
  - conda-forge
dependencies:
  - python >=3.10,<3.14
  - pip >=25.2
  # Don't forget to sync changes between environment.yml, environment-dev.yml, and pyproject.toml!
  # Also consider updating the list in xs.utils.show_versions if you add a new package.
  # Main packages
  - cartopy >=0.23.0
  - cftime
  - cf_xarray >=0.7.6
  - clisops >=0.16.1
  - dask >=2024.8.1
  - flox
  - fsspec
  - geopandas >=1.0
  - h5netcdf >=1.5.0
  - h5py >=3.12.1
  - intake-esm ==2025.2.3
  - matplotlib >=3.6
  - netcdf4
  - numcodecs <0.16.0
  - numpy >=1.24
  - openpyxl
  - pandas >=2.2
  - parse
  - pyarrow >=15.0.0
  - pydantic <2.12.0
  - pyproj
  - pyyaml
  - rechunker >=0.5.3
  - scipy >=1.11.0
  - shapely >=2.0
  - sparse
  - toolz
  - xarray >=2023.11.0, !=2024.6.0
  - xclim >=0.56, <0.59
  - xsdba >=0.4.0
  - zarr >=2.13, <3
  # Opt
  - nc-time-axis >=1.3.1
  - xesmf >=0.7, !=0.8.8
  # Dev
  - babel >=2.17
  - bump-my-version >=1.2.3
  - codespell >=2.4.1
  - coverage >=7.5.0
  - deptry >=0.23.0
  - flake8 >=7.3.0
  - flake8-rst-docstrings >=0.3.1
  - flit >=3.11.0,<4.0
  - ipykernel
  - ipython >=8.5.0
  - jupyter_client
  - mypy >=1.18.2
  - nbsphinx >=0.9.5
  - nbval
  - numpydoc >=1.9.0
  - pooch >=1.8.0
  - pre-commit >=3.5.0
  - pytest >=8.3.2
  - pytest-cov >=5.0.0
  - pytest-xdist >=3.2.0
  - ruff >=0.13.3
  - sphinx >=7.1.0,<8.2  # FIXME: sphinx 8.2 breaks sphinx-autodoc-typehints
  - sphinx-autodoc-typehints
  - sphinx-codeautolink
  - sphinx-copybutton
  - sphinx-mdinclude
  - sphinx-rtd-theme >=1.0
  - vulture >=2.14
  - watchdog >=4.0.0
  - xdoctest
  - yamllint >=1.35.1
  # Testing
  - tox >=4.30.3
  - tox-gh >=1.5.0
  # Workarounds
  - fastprogress <1.1  # FIXME: Temporary fix following https://github.com/intake/intake-esm/pull/773. Remove when intake-esm is updated.

