name: xscen
channels:
  - conda-forge
dependencies:
  - python >=3.13,<3.14
  - pip >=25.2
  # To install xscen via Makefile commands
  - flit >=3.11.0,<4.0
  # Don't forget to sync changes between environment-docs, environment-dev.yml and pyproject.toml!
  # Also consider updating the list in xs.utils.show_versions if you add a new package.
  # Main packages
  - cartopy >=0.23.0
  - cftime
  - cf_xarray >=0.7.6
  - clisops >=0.16.1
  - dask >=2024.8.1
  - flox
  - fsspec
  - geopandas >=1.0
  - h5netcdf >=1.5.0
  - h5py >=3.12.1
  - intake-esm ==2025.2.3
  - matplotlib >=3.6
  - netcdf4
  - numcodecs <0.16.0 # FIXME: Pin required for zarr v2.x compatibility
  - numpy >=1.24
  - openpyxl
  - pandas >=2.2
  - parse
  - pyarrow >=15.0.0
  - pydantic >=2.8.2
  - pyproj
  - pyyaml
  - rechunker >=0.5.3
  - scipy >=1.11.0
  - shapely >=2.0
  - sparse
  - toolz
  - xarray >=2023.11.0, !=2024.6.0
  - xclim >=0.56, <0.61
  - xsdba >=0.4.0
  - zarr >=2.13, <3
  # Opt
  - nc-time-axis >=1.3.1
  - xesmf >=0.7, !=0.8.8
  # Workarounds
  - fastprogress <1.1  # FIXME: Temporary fix for https://github.com/AnswerDotAI/fastprogress/issues/117 (fastprogress is a dep through intake-esm)
  # Docs
  - ipykernel
  - ipython >=8.5.0
  - jupyter_client
  - nbsphinx >=0.9.8
  - nbval
  - sphinx >=8.2.0
  - sphinx-autodoc-typehints >=3.1.0
  - sphinx-codeautolink >=0.16.2
  - sphinx-copybutton
  - sphinx-intl
  - sphinx-mdinclude
  - sphinx-rtd-theme >=1.0
