name: xsdba
channels:
  - conda-forge
  - defaults
dependencies:
  - python >=3.10,<3.13
  - boltons >=20.1
  - bottleneck >=1.3.1
  - cf_xarray >=0.10.0 # not sure if we need to be that strict
  - cftime >=1.4.1
  - dask >=2024.8.1
  - h5netcdf >=1.3.0
  - jsonpickle >=3.1.0
  - numba >=0.54.1
  - numpy >=1.23.0,<2.0 # to accommodate numba
  - pint>=0.24.3
  - scipy >=1.9.0
  - statsmodels >=0.14.2
  - typer >=0.12.3
  - xarray >=2023.11.0
  - yamale >=5.0.0
  # Extras
  - xclim >= 0.53.2
  # Dev tools and testing
  - black ==24.10.0
  - blackdoc ==0.3.9
  - bump-my-version >=0.28.0
  - coverage >=7.5.0
  - coveralls >=4.0.1
  - flake8 >=7.1.1
  - flake8-rst-docstrings >=0.3.0
  - flit >=3.9.0,<4.0
  - isort ==5.13.2
  - mypy
  - netcdf4
  - numpydoc >=1.8.0
  - pip >=24.3.1
  - pooch >=1.8.0
  - pre-commit >=3.5.0
  - pytest <8.0.0
  - pytest-cov >=5.0.0
  - pytest-xdist >=3.2.0
  - ruff >=0.8.2
  - tox >=4.23.2
  - watchdog >=4.0.0
  - xdoctest>=1.1.5
