name: xsdba
channels:
  - conda-forge
dependencies:
  - python >=3.9,<3.13
  # - xarray >=2022.05.0.dev0
  - xarray
  - cftime
  - dask # why was this not installed??
  - jsonpickle
  - boltons
  - scipy
  - numba
  - numpy<2.0 # to accomodate numba
  
  # Dev tools and testing
  - pip >=24.0
  - bump-my-version >=0.24.3
  - watchdog >=4.0.0
  - flake8 >=7.1.0
  - flake8-rst-docstrings >=0.3.0
  - flit >=3.9.0,<4.0
  - tox >=4.16.0
  - coverage >=7.5.0
  - coveralls >=4.0.0
  - typer >=0.12.3
  - pytest >=8.2.2
  - pytest-cov >=5.0.0
  - black ==24.4.2
  - blackdoc ==0.3.9
  - isort ==5.13.2
  - numpydoc >=1.7.0
  - pre-commit >=3.5.0
  - ruff >=0.5.0
  - xdoctest
