include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements_dev.txt
include requirements_docs.txt

recursive-include xscen *.json *.yml *.py *.csv
recursive-include tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs notebooks *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.ipynb *.csv *.json *.yml *.md
recursive-exclude docs notebooks samples *.csv *.json
recursive-exclude conda *.yml
recursive-exclude templates *.csv *.json *.py *.yml

exclude .cruft.json
exclude .editorconfig
exclude .gitlab-ci.yml
exclude .gitmodules
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude .secrets.baseline
exclude .yamllint.yaml
exclude Makefile
exclude environment.yml
exclude environment-dev.yml
exclude tox.ini
